<app-filter-textbox (changed)="filter($event);"></app-filter-textbox>
<br>
<app-category-filter (changed)="filterCategory($event);"></app-category-filter>
<br>
<div class="row">
    <div class="card col-sm-3 my-1 mx-4" *ngFor="let product of filteredProducts" (click)="onClick(product);">	
        <div class="card-body">
            <h3 class="card-title">
                <a routerLink="/products/{{product.id}}">
                    {{product.name}}
                </a>
            </h3>
            <div class="card-text">
                {{product.categoryName}}
                {{product.brandName}}
            </div>
        </div>
    </div>
</div>